{% macro hmctsUiFooter(model) %}
<footer class="ui-component-lib-footer govuk-footer" role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        {% if model.help %}
          <h2 class="hmcts-footer__heading">{{ model.help.heading }}</h2>
          <ul class="hmcts-footer__list hmcts-footer__list--stacked">
            <li class="hmcts-footer__list-item">{{ model.help.probate.text }}</li>
          </ul>
          <br>
          <ul class="hmcts-footer__list hmcts-footer__list--stacked">
            <li class="hmcts-footer__list-item">
              Email:
              <a class="hmcts-footer__link" href="mailto:{{ model.help.email.address }}">{{ model.help.email.text }}</a>
            </li>
            <li class="hmcts-footer__list-item">Phone: {{ model.help.phone.text }}</li>
            <li class="hmcts-footer__list-item">Opening times: {{ model.help.opening.text }}</li>
          </ul>
          <br>
          <ul class="hmcts-footer__list hmcts-footer__list--stacked">
            <li class="hmcts-footer__list-item">{{ model.help.otherContact.text }}</li>
          </ul>
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--l">
        <ul class="hmcts-footer__list hmcts-footer__list--inline">
          {% for item in model.navigation.items %}
            <li class="hmcts-footer__list-item">
              <a class="govuk-footer__link" href="{{ item.href }}"{% if item.target %} target="{{ item.target }}"{% endif %}>
                {% if item.target == "_blank" %}<span class="visuallyhidden">{{ model.openInNewWindowText }}</span>{% endif %}{{ item.text }}
              </a>
            </li>
          {% endfor %}
          {% if model.languageToggle and model.languageToggle.enabled %}
            <li class="hmcts-footer__list-item">
              <button
                type="button"
                class="govuk-footer__link govuk-js-link"
                data-footer-action="toggle-language"
                data-language-action="{{ model.languageToggle.action }}">
                {{ model.languageToggle.text }}
              </button>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link" href="{{ model.copyright.href }}">
          {% include "crown-copyright.svg" %}
          <br />
          <span>{{ model.copyright.text }}</span>
        </a>
      </div>
    </div>
  </div>
</footer>
{% endmacro %}
