.idea/
.gradle
.gradle-local
**/*.DS_Store
**/*.iml
build
repository
sdk/ccd-gradle-plugin/src/main/resources/application.properties
ccd-data-store-api
sdk/ccd-definition-converter/retrofit-reports/
.claude/
*.class
