[submodule "test-builds/fpl-ccd-configuration"]
	path = test-builds/fpl-ccd-configuration
	url = https://github.com/banderous/fpl-ccd-configuration.git
[submodule "test-projects/pcs-api"]
	path = test-projects/pcs-api
	url = git@github.com:hmcts/pcs-api.git
[submodule "test-projects/nfdiv-case-api"]
	path = test-projects/nfdiv-case-api
	url = git@github.com:hmcts/nfdiv-case-api.git
	branch = path-fix
[submodule "test-projects/sptribs-case-api"]
	path = test-projects/sptribs-case-api
	url = git@github.com:hmcts/sptribs-case-api.git
	branch = DTSSTCI-1332-decentralisation
[submodule "test-projects/adoption-cos-api"]
	path = test-projects/adoption-cos-api
	url = git@github.com:banderous/adoption-cos-api.git
	branch = cftlib-integration
