[submodule "test-builds/fpl-ccd-configuration"]
	path = test-builds/fpl-ccd-configuration
	url = git@github.com:hmcts/fpl-ccd-configuration.git
	shallow = true
[submodule "test-projects/pcs-api"]
	path = test-projects/pcs-api
	url = git@github.com:hmcts/pcs-api.git
[submodule "test-projects/nfdiv-case-api"]
	path = test-projects/nfdiv-case-api
	url = git@github.com:hmcts/nfdiv-case-api.git
	branch = path-fix
[submodule "test-projects/sptribs-case-api"]
	path = test-projects/sptribs-case-api
	url = git@github.com:hmcts/sptribs-case-api.git
	branch = DTSSTCI-1332-decentralisation
[submodule "test-projects/adoption-cos-api"]
	path = test-projects/adoption-cos-api
	url = git@github.com:hmcts/adoption-cos-api.git
	branch = cftlib-integration
[submodule "test-projects/et-ccd-callbacks"]
	path = test-projects/et-ccd-callbacks
	url = git@github.com:hmcts/et-ccd-callbacks.git
	branch = json-config-support
[submodule "wa-task-management-api"]
	path = wa-task-management-api
	url = git@github.com:hmcts/wa-task-management-api.git
	branch = decentralisation-poc
[submodule "test-projects/ia-ccd-definitions"]
	path = test-projects/ia-ccd-definitions
	url = git@github.com:hmcts/ia-ccd-definitions.git
	shallow = true
[submodule "test-projects/sscs-tribunals-case-api"]
	path = test-projects/sscs-tribunals-case-api
	url = git@github.com:hmcts/sscs-tribunals-case-api.git
	shallow = true
[submodule "test-projects/civil-ccd-definition"]
	path = test-projects/civil-ccd-definition
	url = git@github.com:hmcts/civil-ccd-definition.git
	shallow = true
[submodule "test-projects/prl-ccd-definitions"]
	path = test-projects/prl-ccd-definitions
	url = git@github.com:hmcts/prl-ccd-definitions.git
	shallow = true
[submodule "test-projects/probate-back-office"]
	path = test-projects/probate-back-office
	url = git@github.com:hmcts/probate-back-office.git
	shallow = true
[submodule "test-projects/civil-service"]
	path = test-projects/civil-service
	url = git@github.com:hmcts/civil-service.git
	shallow = true
[submodule "test-projects/sscs-common"]
	path = test-projects/sscs-common
	url = git@github.com:hmcts/sscs-common.git
	shallow = true
[submodule "test-projects/prl-cos-api"]
	path = test-projects/prl-cos-api
	url = git@github.com:hmcts/prl-cos-api.git
	shallow = true
