{% from "macro.njk" import hmctsXuiHeader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ scenario.title }}</title>
    <link rel="stylesheet" href="/styles/xui-header.css">
    <style>
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    {{ hmctsXuiHeader(scenario.model) }}
  </body>
</html>
