{% extends "govuk/template.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}ProseMirror editor{% endblock %}

{% block head %}
  {% if not development %}
    <link rel="stylesheet" href="/assets/application.css">
  {% endif %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="order-form" novalidate>
        {{ govukDateInput({
          id: "order-date",
          namePrefix: "order-date",
          fieldset: {
            legend: {
              text: "Order date",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

        {{ govukCheckboxes({
          name: "structure-choice",
          classes: "structure-checkboxes",
          fieldset: {
            legend: {
              text: "Structure",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "checked",
              text: "Check this box",
              checked: true
            },
            {
              value: "subpara-1",
              text: "Subpara 1",
              checked: true
            },
            {
              value: "subpara-2",
              text: "Subpara 2"
            },
            {
              value: "subpara-3",
              text: "Subpara 3"
            }
          ]
        }) }}

        <div id="editor"></div>

        <section>
          <h2>Document structure</h2>
          <pre id="document-debug"></pre>
        </section>

        <section>
          <h2>Editor HTML</h2>
          <pre id="html-debug"></pre>
        </section>

        <section>
          <h2>Schema nodes</h2>
          <pre id="nodes-debug"></pre>
        </section>

        <section>
          <h2>Schema marks</h2>
          <pre id="marks-debug"></pre>
        </section>

        <section>
          <h2>Schema JSON</h2>
          <pre id="schema-debug"></pre>
        </section>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}
  {% if development %}
    <script type="module" src="/src/consumer.ts"></script>
  {% else %}
    <script type="module" src="/assets/application.js"></script>
  {% endif %}
{% endblock %}
