{% extends "govuk/template.njk" %}

{% block pageTitle %}ProseMirror editor{% endblock %}

{% block head %}
  {% if not development %}
    <link rel="stylesheet" href="/assets/application.css">
  {% endif %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="editor"></div>

      <div id="content" hidden>
        <h3>Hello ProseMirror</h3>
        <p>This is editable text. Select some text or just start typing.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}
  {% if development %}
    <script type="module" src="/src/client.ts"></script>
  {% else %}
    <script type="module" src="/assets/application.js"></script>
  {% endif %}
{% endblock %}
