name: PCS CFTLib Test

on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '*.md'

jobs:
  pcs-cftlib-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Run pcs:cftlibTest
        run: ./gradlew pcs:cftlibTest -i
